.chapter(data-title='RingCentral OAuth demo')
  .step(data-title='Install dependencies', data-file='README.md', data-highlight='13-14')
    :markdown
      Install dependent libraries with [`bower`](https://bower.io/).

  .step(data-title='Configure the app appropriately', data-file='public/config-sample.js')
    :markdown
      ## Configuration

      Edit the `./public/config.js` file to configure your application key, application secret and redirect URL, etc.
      
      ```
      $ cd ./public
      $ cp config-sample.js config.js
      $ vi config.js
      ```
      
      Please visit [Developer Portal](http://developer.ringcentral.com/) to apply application key and secret. And ensure the redirect URI in your config file has been entered in your app configuration. By default, the URL is set to the following for this demo:
      
      ```
      http://localhost:8080/callback.html
      ```

  .step(data-title='Include JavaScript files into HTML file', data-file='public/index.html', data-highlight='5-10')
    p Include the config file, RingCentral SDK and related libraries into HTML file.

  .step(data-title='Create RingCentral SDK instance', data-file='public/index.html', data-highlight='59-63')
    p Create RingCentral SDK instance.

  .step(data-title='Get login URL', data-file='public/index.html', data-highlight='16-18')
    p Get login URL from RingCentral SDK instance.

  .step(data-title='Open login window', data-file='public/index.html', data-highlight='23')
    p Open a new window with the login URL.

  .step(data-title='Parse callback URL', data-file='public/index.html', data-highlight='27-32')
    p When login finished, plaform will redirect to the callback URL(the configured redirect URL). The callback URL contains the auth code which we need to login into RingCentral platform.

  .step(data-title='Log into RingCentral platform with the auth code', data-file='public/index.html', data-highlight='35-39')
    :markdown
      Now that we get the auth code, we can call the `login` API of the SDK instance to log into RingCentral platform.

